div#container {
    background-color: aqua;

    margin-top: 20px;
    max-width: 95%;
}

body{
    background-color: antiquewhite;
}

div#imgPerfilDiv{
    background-color: aquamarine;
    max-width: 250px;
}

img#perfilImg{
    min-width: 100%;
}

#usernameCaption{
    color: black;
    font-size:15pt;
    
}

div#feedPost{
    background-color: darkcyan;    
}

div#parentDivFeed{
    background-color:aliceblue;
}

div#listItem{
    background-color: bisque;
}

div#rightDiv{
    background-color: blueviolet;
    margin-right: 0px;
}
