
* {
    font-family: "Source Sans Pro", sans-serif;
    color: #ead8f7;
    outline: none;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    margin-right: 5px;
}

::-webkit-scrollbar-thumb{
    background: #2c0242;
    border-radius: 5pt;
}

::-webkit-scrollbar-thumb:hover{
    background: #2c0242d5;
}

button.btn-primary{
    color: #ead8f7;
    background-color: #70268D;
    border-color: #70268D;
}

button.btn-primary:hover{
    color: #ead8f7;
    background-color: #5f2177;
    border-color: #70268D;
}

#body{
    color: white;
    background-image: linear-gradient( 135deg, #2c0242 0%, #52057B 100%);   
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

div.container {
    background-image: linear-gradient( 135deg, #892CDC 0%, #892CDC 100%);    
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    max-width: 95%;
    border-radius:5pt;
    overflow: auto;
}


.col-2{
    background-color: #2c0242;
    margin-left: 10px;
    padding-bottom: 45px;
    border-radius: 5pt;
    overflow: visible;
    border-radius: 10pt;
    margin-bottom: 10px;
    height:fit-content;
}

div#imgPerfilDiv{
    max-width: 250px;
    margin-left: auto;
}

img#perfilImg{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #1d012d;
    min-width: 100%;
}

#usernameCaption{
    color: #ead8f7;
    font-size: 24px;
    font-weight: bold;
}

div#cat{
    font-size: 18px;
    padding: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-radius: 5pt;

}

.tituloCat{
    font-size: 18px;
    margin-bottom: 10px;
    color: #eee1f7ce;
}

.itensCat {
    display: flex;
    flex-direction: column;
}

.itemCategoria {
    text-decoration: none;
    color: #ead8f7;
    display: flex;
    align-items: center;
    font-weight: 800;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    transition: 0.3s;
}
.itemCategoria:hover {
    text-decoration: none;
    color: #4d2e61;
    background-color: #14061bcc;
    }
    
i{
    width: 16px;
    margin-right: 8px;
}

span {
    width: 16px;
    margin-right: 8px;
}


#feed{
    background-color: #2c0242;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    border-radius: 10pt;
    margin-bottom: 10px;
    overflow: auto;
}

div#feedPost{
    color: white;
    min-height: 100%; 
    background-color: #4d2e61;
    padding: 15px;
    border-radius: 5pt;

    width: 100%; overflow: hidden;
}


div.perfilPostImgDiv{
    float: left;
}

img#perfilPostImg{
    content: 
    url("https://cdn.icon-icons.com/icons2/1999/PNG/512/avatar_man_people_person_profile_user_icon_123375.png");
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    border:1px solid #1d012d;
    min-width: 100%;
     
}

div.txtBoxDiv{
    margin-left: 60px;
}

#txtBox{
    text-decoration: none;
    background-color: #4a156970;
    border: 0ch;
    margin-left: 50%; 
    height: 100px; 
    margin-left: 0px;
}

.postSelectors{

    width: 100%; 
    overflow: hidden;
    margin-left: 60px;
    margin-top: 20px;

}

.fileInput>input{
    display: none;
}

div.fileInput{
    width: 600px; float: left;
}

#imgSelectIcon{
    font-size: 30px;
}

div.submitBt{
    margin-left: 88%;
    
}



div#feedTimeLine{
    
}

div#parentDivFeed{
    
}

div#divUserInfo{
    height: 55px;
    margin-bottom: 10px;
}

div#listItem{
    background-color: #1d012d;
    max-width: 600px;
    max-height: 100%;
    margin-bottom: 10px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 25px;
    border-radius: 5pt;

    overflow: hidden;
}

#txtContentPost{
    margin-bottom: 10px;
}

div#publiElement{
    margin-top: 0px;
}

#usernamePost{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
}

#profissaoTxt{
    font-size: 14px;
    font-weight: 400;
    color: #eee1f7ce;
}

img#imgFeed{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5pt;
}

div#divAction{
    margin-top: 10px;
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    justify-content:initial;
    column-gap: 8px;
}

#divAction>div{
    border-radius: 6px;
    padding: 5px;
    margin-top: 0px;
}

#divAction>div:hover{
    background-color: #eee1f733;
}

#tagA{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #ead8f7;
}

div#divLike{ 
    width: 95px;
}

.fa-thumbs-up{
    margin: 0px;
}

div#divComment{
    width: 125px;

}
.fa-comment{
    margin-right: 0px;
}

div#divShare{
    width: 167px;
}
.fa-share{
    margin-right: 0px;

}



div#chatDiv{
    margin-right: 10px;
    background-color: #2c0242;
    border-radius: 5pt;
    border-radius: 10pt;
    margin-bottom: 10px;
}
