/*Se sobrar tempo, refatora o codigo dando as variaveis*/

* {
    font-family: "Source Sans Pro", sans-serif;
    color: #ead8f7;
    outline: none;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: #15202B;
    margin-right: 5px;
}

::-webkit-scrollbar-thumb{
    background: #2c0242;
    border-radius: 5pt;
}

::-webkit-scrollbar-thumb:hover{
    background: #2c0242d5;
}

button.btn-primary{
    color: rgb(255, 255, 255);
    background-color: #7F22EF;
    border-color: #7F22EF;
}

button.btn-primary:hover{
    color: #ead8f7;
    background-color: #5f2177;
    border-color: #70268D;
}

#body{
    color: white;
    background-color: #21162D;
    background-size: cover;
    background-position: center;
    display: flex;
    height: fit-content;
}

div.container-fluid {
    background-color: #322344;
    height: fit-content;
    padding-top: 10px;
    overflow:auto;
    
}
.row{
    justify-content: center;
}

/* Categorias */ 

#perfilCat{
    background-color: #322344;
    margin-left: 10px;
    padding: 20px;
    padding-bottom: 45px;
    border-radius: 5pt;
    border-radius: 10pt;
    margin-bottom: 10px;
    max-width: 250px;
    width: fit-content;
    height:fit-content;
    min-width: 220px;
}

div#imgPerfilDiv{
    max-width: 250px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

figure.figure{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img#perfilImg{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #1d012d;
    min-width: 10vw;
    min-height: 10vw;
}


#usernameCaption{
    color: #ead8f7;
    font-size: 28px;

    font-weight: bold;
}

div#cat{
    font-size: 18px;
    padding: 20px 0 0 0;
    margin-bottom: 0px;
    border-radius: 5pt;
}

.tituloCat{
    font-size: 18px;
    margin-bottom: 10px;
    color: #eee1f7ce;
}

.itensCat {
    display: flex;
    flex-direction: column;
}

.itemCategoria {
    text-decoration: none;
    color: #ead8f7;
    display: flex;
    align-items: center;
    font-weight: 800;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    transition: 0.3s;
}
.itemCategoria:hover {
    text-decoration: none;
    color: #4d2e61;
    background-color: #14061bcc;
    }
    
#iconCat{
    width: 16px;
    margin-right: 8px;
}

/* FEED */

div#feed{
    background-color: #322344;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    border-radius: 10pt;
    margin-bottom: 10px;
    min-width:min-content;
}

div#feedPost{
    color: white;
    min-height: 100%; 
    background-color: #1d012d;
    padding: 15px;
    border-radius: 5pt;
    
    width: 100%;
}

div.feedTimeLine{
    margin-top: 15px;
}

div.perfilPostImgDiv{
    float: left;
}

img#perfilPostImg{
    content: 
    url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCwiNUolGE_ybMJdnOfdtkwG0knyyporBK6A&usqp=CAU');
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    border:1px solid #1d012d;
    min-width: 100%;
     
}

div.txtBoxDiv{
    margin-left: 60px;
}

#txtBox{
    color: #ead8f7;
    text-decoration: none;
    background-color: #1d012d;
    border: 3px solid #322344;
    margin-left: 50%; 
    height: 100px; 
    margin-left: 0px;
}
#txtBox::placeholder{
    color: #eee1f7ce;
}

.postSelectors{
 
    margin-left: 60px;
    margin-top: 20px;
    display:flex;
    align-items:stretch;
    justify-content: space-between;
}

.fileInput>input{
    display: none;
}

div.fileInput{
    float: left;
}

#imgSelectIcon{
    font-size: 30px;
}

div#divUserInfo{
    height: 55px;
    margin-bottom: 10px;
}

div#listItem{
    background-color: #1d012d;
    width: fit-content;
    height: fit-content;
    max-width: 600px;
    min-height: 350px;
    margin-bottom: 10px;
    padding: 25px;
    border-radius: 5pt;

    overflow: hidden;
}

#txtContentPost{
    margin-bottom: 10px;
}

div#publiElement{
    margin-top: 0px;
}

#usernamePost{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
}

#profissaoTxt{
    font-size: 14px;
    font-weight: 400;
    color: #eee1f7ce;
}

img#imgFeed{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5pt;
}

div#divAction{
    margin-top: 10px;
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    justify-content:initial;
    column-gap:normal;
}

#divAction>div{
    border-radius: 6px;
    padding: 5px;
    margin-top: 0px;
}

#divAction>div:hover{
    background-color: #eee1f733;
}

#tagA{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #ead8f7;
}

div#divLike{ 
    width: 95px;
}

.fa-thumbs-up{
    margin: 0px;
}

div#divComment{
    width: 125px;

}
.fa-comment{
    margin-right: 0px;
}

div#divShare{
    width: 167px;
}
.fa-share{
    margin-right: 0px;

}

/* Contatos */ 

div#chatDiv{
    position: relative;
    width: fit-content;
    height: fit-content;
    min-width: 200px;
    max-width: 280px;
    margin: 20px 10px 10px 0;
    border-radius: 5pt;
    padding: 0 0 15px 0;
    background-color: #322344;
}

div.search-bar {
    height: 50px;
    display: flex;
    width: 100%;
    max-width: 400px;
    border-radius: 4px;
    
   }
input#search-bar {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #1d012d;
    border-radius: 10pt;
    font-size: 15px;
    font-weight: 500;
    padding: 0 20px 0 40px;
    margin: 0px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 16px 48%;
    
}

input#search-bar::placeholder{
    padding-left: 5px;
    font-size: 16px;
}

input#search-bar:focus{
    background-color: #000000;
}

div.contatos{
    margin-top: 30px;
}

#tituloContatos{
    font-size: 20px;
    font-weight: 800;
    padding: 0 18px;
}

div.itensContatos{
    margin-left: 0;
    margin-top: 20px;
}

.itemContato{
    display:flex;
    align-items: stretch;
    flex-basis: auto;
    flex-direction: row;
    column-gap: 0px;
    padding: 0.65vw 0.95vw;
    transition: 0.3s;
}
div.ucsb{
    display:flex;
    align-items:center;
    justify-content: space-between;
    column-gap: 5px;
    width: 100%;
    font-size: 0.9vw;
}

.itemContato:hover{
    background-color: #4d2e61;
    border-radius: 5pt;
}

.itemContato>img{
    content: 
    url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCwiNUolGE_ybMJdnOfdtkwG0knyyporBK6A&usqp=CAU');
    border:1px solid #1d012d;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-right: 0.6vw;
    object-fit: cover;
    object-position: center;
}

#iconSeguir{
    text-decoration: none;
    color:#ead8f7;
    font-size: 0.7vw;
    padding: 8px 0.9px;
    transition: 0.3s;
}

#iconSeguir:hover{

    background-color: #14061bcc;
    padding: 8px 0.9px;
    border-radius: 5px;
}

@media screen and (max-width:1280px) {

    figcaption#usernameCaption{
        font-size: 22px;
    }

    div.ucsb{
        font-size: 13px;
    }

    #iconSeguir{
        font-size: 12px;
    }

}

@media screen and (max-width:954px) {

    #perfilCat{
        display: none;
    }

    div#feed{
        min-width: fit-content;
        max-width: fit-content;
    }

    div#chatDiv{
        display: none;
    }

}
