* {
    font-family: "Source Sans Pro", sans-serif;
    color: #ffffff;
    outline: none;
    box-sizing: border-box;
}

body{
    background-color: #322344;
    display: flex;
}

div.container-fluid{
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: yellowgreen;
}
div.row{
    justify-content: center;
    background-color: #271b35;
}

div.col-md-8{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* User Data */

#userData{
    height:fit-content;
    background-color: #1d012d;
    padding: 0;
    display: grid;
    grid-auto-flow: row;
    justify-content: stretch;
    align-content: stretch;
}

div.capa{
    background-image: 
    url('https://i.pinimg.com/originals/13/7f/ef/137fef307fb7c32ffb0803a6a9d3087c.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
    height: 300px;
    position: relative;
}

div.divCentral{
    position: relative;
    display: grid;
    align-items: baseline;
    grid-auto-flow: column;
    margin-top: -108px;
}

div#imgPerfilDiv{
    max-width: fit-content;
    margin: 0 5px 0 15px;
    position: relative;
    display: grid;
    align-items:center;
    grid-auto-flow: column;
    column-gap: 20px;
}

img#perfilImg{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #1d012d;
    min-width: 190px;
    min-height: 190px;
}

div.infoUserName{
    max-height: 82px;
    width: fit-content;
    justify-self:start;
    font-size: 24px;
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
}

div.name{
    font-weight: 500;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

.btn{
    align-self: center;
    justify-self: end;
}

div.info{
    height: fit-content;
    background-color: #322344;
    border-bottom: 2px solid #1d012d ;

}

/* FEED */

#userFeed{
    padding: 0ch;
    height:fit-content;
    background-color: #322344;
}

div.selectors{
    width:100%;
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    justify-content: center;
    column-gap: normal;
    border-bottom: 2px solid #1d012d ;
}
div.selectors>a{
    text-decoration: none;
    font-size: 14pt;
    font-weight: 400;
    width: 16vw;
    min-width: 87.5px;
    max-width: 150px;
    display: flex;
    justify-content: center;
    padding: 5px;
    border: 0.5px solid rgba(255, 255, 255, 0);
    transition: 0.5s;
}
div.selectors>a:hover{
    background-color: #ead8f71c;
    border: 0.5px solid rgba(255, 255, 255, 0.486);
    border-radius: 5pt;
}

div#listItem{
    background-color: #1d012d;
    width: fit-content;
    height: fit-content;
    max-width: 600px;
    min-height: 350px;
    margin: 20px 5px 10px;
    margin-bottom: 10px;
    padding: 25px;
    border-radius: 5pt;
    overflow: hidden;
}

div.perfilPostImgDiv{
    float: left;
}

img#perfilPostImg{
    content: 
    url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCwiNUolGE_ybMJdnOfdtkwG0knyyporBK6A&usqp=CAU');
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    border:1px solid #1d012d;
}

#txtContentPost{
    margin-bottom: 10px;
}

div#publiElement{
    margin-top: 0px;
}

#usernamePost{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
}

#profissaoTxt{
    font-size: 14px;
    font-weight: 400;
    color: #eee1f7ce;
}

img#imgFeed{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5pt;
}

div#divAction{
    margin-top: 10px;
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    justify-content:initial;
    column-gap:normal;
}

#divAction>div{
    border-radius: 6px;
    padding: 5px;
    margin-top: 0px;
}

#divAction>div:hover{
    background-color: #eee1f733;
}

#tagA{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #ead8f7;
}

@media screen and (max-width:850px) {

    div.infoUserName{
        max-height: 82px;
        width: fit-content;
        font-size: 2.2vw;
        
    }
   
}

@media screen and (max-width:769spx) {

    div.infoUserName{
        max-height: 82px;
        width: fit-content;
        font-size: 20px;
        
    }

    div.selectors>div{
        width: 25vw;
        min-width: 87.5px;
    }
}

@media screen and (max-width:500px) {

    /* Mobile resolution*/

}