

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: #1f152b;
}

.form-signin{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 500px;
    background-color: #450e80;
    padding: 25px;
    border-radius: 5pt;
}

.form-floating{
    margin-top: 12px;
    color: black;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

.linkCadastro{
    margin-top: 30px;
} 

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }